@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

svg.pie { max-height: 100%; }

svg.pie path {
	stroke-width: 0;
}

svg.pie .slice0 {
	fill: #c4b891;
}

svg.pie .slice1 {
	fill: #D44C5C;	
}

svg.pie .slice2 {
	fill: #f09156;	
}

svg.pie .slice3 {
	fill: #45B09A;
}

svg.pie .slice4 {
	fill: #80ad61;
}

svg.pie .slice5 {
	fill: #abd3d9;
}

svg.pie text {
	font-family: arial;
	fill: white;
	text-shadow: 1px 1px 1px #888;
}

svg.pie text.centerText {
	font-size: 1.3em;
}

svg.pie text.icon {
	font-family: FontAwesome;
}

svg.pie .selected text.icon {
	font-size: 1.3em;
}

